# Windows 7-compatible dependency set (build using Python 3.8.x).
customtkinter>=5.2,<5.3
pywin32>=302,<307
screeninfo>=0.8,<0.9
pystray>=0.19,<0.20
Pillow>=10.0,<11.0
winshell>=0.6,<0.7
pyinstaller>=6.0,<7.0
